@import '../../../_mixin';
@import '../../../_variables';

.restaurantsSlug {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 2rem;

  .restaurantsSlug__header {
    @include container;

    .header__container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;

      @include md {
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
      }

      .header__image {
        border-radius: 0.5rem;
        height: 0;
        padding-bottom: 60%;
      }

      .header__footer {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }

      .header__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        .body__header {
          display: flex;
          flex-direction: column;
          font-size: 1.25rem;

          .header__title {
            font-size: 2rem;
            font-weight: 700;
            padding-bottom: 0.5rem;
          }

          .header__item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .item__key {
              opacity: 0.4;
            }
          }

          .item__file {
            text-decoration: underline;
            font-weight: 700;
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }
  }

  .restaurantsSlug__body {
    @include container;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    .restaurantsSlug__body__title {
      font-size: 1.75rem;
      font-weight: 700;

      @include sm {
        font-size: 2rem;
      }
    }
  }
}
