@import '../../_mixin';
@import '../../_variables';

.peopleSelector {
  margin: -1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .people__left {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .people__logo {
      font-size: 6rem;
      color: $primary;
      transform: translateY(+10%);
    }

    .people__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        opacity: 0.6;
        font-size: 1rem;
      }
    }
  }

  .people__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    @include sm {
      gap: 0;
    }

    .people__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .item__icon {
        font-size: 2rem;
        transform: translateY(-10%);
      }

      .item__body {
        display: flex;
        align-items: center;
        flex-direction: row;

        .item__button {
          font-size: 2rem;
          transform: translateY(10%);
          cursor: pointer;
          transition: all 0.25s ease-out;

          &:active {
            opacity: 0.1;
          }
        }
      }
    }
  }
}
