@import '../../../../_mixin';
@import '../../../../_variables';

.newsletterForm {
  padding: 2rem 0;

  .newsletterForm__container {
    @include container;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form__body {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .form__button {
        margin-top: 1rem;
      }
    }
  }
}
