@import '../../../../_mixin';
@import '../../../../_variables';

.todayClubs {
  padding: 2rem 0;
  background-color: $black-5;

  .todayClubs__container {
    @include container;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
